:root{
    --font-size:20px;
    --color:dark rgb(64, 64, 64);
    --gutter:calc(var(--font-size)) *2;
    --spacing:50px;
}

h1{
    text-align: center;
    margin: 0;
    position: fixed;
    top:-9vw;
    width: 100%;
    font-size:18vw;
    font-family: "Chivo", sans-serif;
    font-weight: 200;
}

aside{
    padding:var(--spacing);
}

main{
    padding:calc(var(--font-size)*.8);
}

main section:nth-child(1){
    margin-bottom: var(--font-size);
}

#content{
    max-width: 400px;
    margin-top: var(--font-size);
    margin: 0 auto;
    overflow-y: auto;
    height: 50vh;
}

#menu{
    display: flex;
    flex-direction: row;
    font-size:calc(var(--font-size)*.7);
    justify-content:space-between;
    position:fixed;
    align-content: center;
    bottom:4vw;
    width:80%;
}

h2, p{
    font-family:"Arimo";
    font-weight:400;
}

footer{
    display: none;
}


@media(min-width:600px){
    :root{
        --font-size:24px;
    }

    h1{
        text-align: center;
        margin: 0;
        position: fixed;
        top:-9vw;
        width: 100%;
        font-size:18vw;
        font-family: "Chivo", sans-serif;
        font-weight: 200;
    }
    
    aside{
        padding:var(--spacing);
    }

    #channel-description{
        padding-top: var(--font-size);
    }

    main{
        padding:calc(var(--spacing)*.8);
    }

    main section:nth-child(1){
        margin-bottom: var(--spacing);
    }

    #content{
        max-width: 400px;
        margin-top: var(--spacing);
        margin: 0 auto;
        overflow-y: auto;
        height: 70vh;
    }

    #menu{
        display: flex;
        flex-direction: row;
        font-size:calc(var(--font-size)*.6);
        justify-content:space-between;
        position:fixed;
        align-content: center;
        bottom:3vw;
        width:90%;
    }

    h2, p{
        font-family:"Arimo";
        font-weight:400;
    }

    p{
        font-size: calc(var(--font-size)*.7);
    }

    footer{
        display:none;
    }

    /*div{

        display: grid;
    }

    #links{
        display:flex;
        gap:var(--spacing);
        overflow-x:auto;
        overflow-y:hidden;
       }*/
}

