:root{
    --font-size:20px;
    --color:dark rgb(64, 64, 64);
    --gutter:calc(var(--font-size)) *2;
    --spacing:30px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    background-color: white;
}

h1{
    text-align: center;
    margin: 0;
    position: fixed;
    top:-9vw;
    width: 100%;
    font-size:18vw;
    font-family: "Chivo", sans-serif;
    font-weight: 200;
}

aside{
    padding:var(--spacing);
}

main{
    padding:calc(var(--font-size)*.8);
}

main section:nth-child(1){
    margin-bottom: var(--font-size);
}

#content{
    max-width: 400px;
    margin-top: var(--font-size);
    margin: 0 auto;
    overflow-y: auto;
    height: 70vh;
}

#menu{
    display: flex;
    flex-direction: row;
    font-size:calc(var(--font-size)*.7);
    justify-content:space-between;
    position:fixed;
    align-content: center;
    bottom:4vw;
    width:80%;
}

h2, p{
    font-family:"Arimo";
    font-weight:400;
}

footer{
    display: none;
}

/*ipad*/
@media(min-width:320px){
    :root{
        --font-size:20px;
        --spacing:30px;
    }

    aside{
        padding:var(--spacing);
    }

    main{
        display:flex;
        flex-direction: row;
        gap:20%;
    }

    img{
        display: none;
    }

    #channel-description{
        padding-top: var(--font-size);
    }

    main{
        padding-left:var(--spacing);
        padding-right:var(--spacing);
    }

    main section:nth-child(1){
        padding-bottom: var(--spacing);
        padding-top: var(--spacing);
        width: 70%;
    }

    main section:nth-child(1) p{
        color: rgb(80, 80, 80);
    }

    #content{
        max-width: 400px;
        margin-top: var(--spacing);
        margin: 0 auto;
        overflow-y: auto;
        height: 50vh;
        display:none;
    }

    #menu{
        display: flex;
        flex-direction: row;
        font-size:calc(var(--font-size)*.6);
        justify-content:space-between;
        position:fixed;
        align-content: center;
        bottom:5vw;
        width:90%;
    }

    h2, p{
        font-family:"Arimo";
        font-weight:400;
        line-height: 150%;;
    }

    p{
        font-size: calc(var(--font-size)*.7);
    }

    footer,h3{
        display:none;
    }
} 

@media(min-width:680px){
    :root{
        --font-size:22px;
        --spacing:30px;
    }

    img{
        display: flex;
    }

    #cursor
    {
        position: absolute;
        width:12px;
        height:12px;
        background-color:black;
        transition:0.1s;
        border-radius: 50%;
    }

    h1{
        text-align: center;
        margin: 0;
        position: fixed;
        top:-9vw;
        width: 100%;
        font-size:18vw;
        font-family: "Chivo", sans-serif;
        font-weight: 200;
    }

    h3{
        font-size:calc(var(--font-size)*.9) ;
    }

    #alert{
        cursor: pointer;
    }
    
    
/*hover effect*/

    li{
        opacity: 0%;
    }
    
    li:hover{
        opacity: 100%;
    }

    header{
        opacity: 0%;
    }
    
    header:hover{
        opacity: 100%;
    }

    img{
        opacity: 0%;
    }
    
    img:hover{
        opacity: 100%;
    }

    #channel-link{
        opacity: 0%;
    }
    
    #channel-link:hover{
        opacity: 100%;
    }

    #channel-description , h3{
        opacity: 0%;
    }
    
    #channel-description:hover , h3:hover{
        opacity: 100%;
    }
    
/*other elements*/

    aside{
        padding:var(--spacing);
    }

    main{
        display:flex;
        flex-direction: row;
        gap:20%;
    }

    img{
        width: auto;
        height: auto;
    }

    #channel-description{
        padding-top: var(--font-size);
    }

    main{
        padding-left:var(--spacing);
        padding-right:var(--spacing);
    }

    main section:nth-child(1){
        padding-bottom: var(--spacing);
        padding-top: var(--spacing);
        width:90%;
    }

    main section:nth-child(1) p{
        color: rgb(80, 80, 80);
    }

    #channel-link{
        background-color:white;
        color:black;
    }

    #content{
        max-width: 400px;
        margin-top: var(--spacing);
        margin: 0 auto;
        overflow-y: auto;
        height: 50vh;
        display:none;
    }

    #menu{
        display: flex;
        flex-direction: row;
        font-size:calc(var(--font-size)*.6);
        justify-content:space-between;
        position:fixed;
        align-content: center;
        bottom:3vw;
        width:90%;
    }

    h2, p{
        font-family:"Arimo";
        font-weight:400;
        line-height: 150%;;
    }

    p{
        font-size: calc(var(--font-size)*.7);
    }

    footer{
        display:none;
    }
}

    @media(min-width:1000px){
        :root{
            --font-size:24px;
            --spacing:50px;
        }

        img{
            width: 700px;
            height: auto;
        }

        main section:nth-child(1){
            padding-bottom: var(--spacing);
            padding-top: var(--spacing);
            width: 20%;
        }

    /*div{

        display: grid;
    }

    #links{
        display:flex;
        gap:var(--spacing);
        overflow-x:auto;
        overflow-y:hidden;
       }*/
}

