
@media(min-width:600px){

    #menu li:nth-child(1) h2{
        visibility: hidden;
    }

    #content{
        transform: scale(.2);
        transition: transform 1s ease;
    }

    #content:hover{
        transform: scale(1);
    }
    }